<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-med-10 col-lg-6 mx-auto shadow">
        <div class="card-header">
            <h5 class="m-0">Sign up to our news letter</h5>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>