{% extends 'base.html' %}
{% load static %}

{% block page-title %}App Builder 9000{% endblock %}
{% block page-subtitle %}Python Live Project{% endblock %}
{% block button1 %}<a href="#apps" class="contact-btn">Portfolio</a>{% endblock %}
{% block button2 %}<a href="#about" class="contact-btn">Contact Us</a>{% endblock %}

{% block appcontent %}
    <section class="masonry-grid" id="apps">
        <br><br>
        <h2 class="sub-title">App Directory</h2>
          <div class="grid">

              <a href="{% url 'StocksTraderHome' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/StockTraderApp.jpg' %}" alt="Stocks">
                  <div class="fadedbox">
                      <div class="title text"> Stocks Trader </div>
                  </div>
              </a>

   <!-- VegRestaurantapp -->
              <a href="{% url 'VegRestauranthome' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/restaurant.jpg' %}" alt="VegRestaurant">
                    <div class="fadedbox">
                        <div class="title text">VeggieRestaurant</div>
                    </div>
              </a>

              <!-- classical Music -->
              <a href="{% url 'ClassicalMusic_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/ClassicalMusic.jpg' %}" alt="Cello and sheet Music">
                    <div class="fadedbox">
                        <div class="title text"> Classical Music </div>
                    </div>
              </a>

               <!-- BasketballApp -->
              <a href="{% url 'BasketballApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/NBAlogo.jpg' %}" alt="NBA LOGO">
                    <div class="fadedbox">
                        <div class="title text"> Basketball App </div>
                    </div>
              </a>

              <!-- MarvelComicsApp -->
              <a href="{% url 'MarvelComicsAppHome' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/MarvelComicsApp.jpg' %}" alt="Marvel Comics">
                    <div class="fadedbox">
                        <div class="title text"> Marvel Comics App </div>
                    </div>
              </a>

              <!-- CodeBookApp -->
              <a href="{% url 'CodeBookApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/CodeBookApp.jpg' %}" alt="Code Books">
                    <div class="fadedbox">
                        <div class="title text"> Code Book App </div>
                    </div>
              </a>

              <!-- PlantApp -->
              <a href="{% url 'PlantApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/PlantStore.jpg' %}" alt="Indoor Jungle">
                  <div class="fadedbox">
                      <div class="title text">Indoor Jungle</div>
                  </div>
              </a>

              <!--Seattle Night Life App-->
              <a href="{% url 'SeattleNightLife_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/SeattleNightLife.jpg' %}" alt="Street at Nighttime">
                  <div class="fadedbox">
                      <div class="title text">Seattle Night Entertainment</div>
                  </div>
              </a>

              <!-- AstronomyApp -->
              <a href="{% url 'AstronomyApp' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/AstronomyApp.jpg' %}" alt="Planetary Nebula">
                    <div class="fadedbox">
                        <div class="title text">Astronomy APP</div>
                    </div>
              </a>

              <!-- DuneAppApp -->
              <a href="{% url 'DuneApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/DuneTitle.jpg' %}" alt="Dune">
                    <div class="fadedbox">
                        <div class="title text">Dune APP</div>
                    </div>
              </a>

            <!-- ArtistsApp -->
              <a href="{% url 'ArtistsApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/leo.jpg' %}" alt="Artists">
                    <div class="fadedbox">
                        <div class="title text">Artists APP</div>
                    </div>
              </a>

              <!-- FindPetApp -->
              <a href="{% url 'find_pet_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/FindPet_App_Image.jpg' %}" alt="Rescued Pet">
                    <div class="fadedbox">
                        <div class="title text">Find a Pet</div>
                    </div>
              </a>

              <!-- ChessApp -->
              <a href="{% url 'chess_app_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/chessapp.jpg' %}" alt="Chess">
                    <div class="fadedbox">
                        <div class="title text">Chess</div>
                    </div>
              </a>

              <!-- SeafoodApp -->
              <a href="{% url 'SeafoodAppHome' %}" class="grid-item app-image">
                  <img src="{% static '' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/SeafoodApp_Image.jpg' %}" alt="Seafood">
                    <div class="fadedbox">
                        <div class="title text">Seafood App</div>
                    </div>
              </a>

              <!--CocktailsApp -->
              <a href="{% url 'CocktailsApp_home' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/CocktailsApp.jpg' %}" alt="Cocktail">
                    <div class="fadedbox">
                        <div class="title text">Cocktails APP</div>
                    </div>
              </a>
           <!--StrategyGamesApp -->
           <a href="{% url 'StrategyGamesHome' %}" class="grid-item app-image">
                  <img src="{% static 'images/app-images/StrategyGame.jfif' %}" alt="StrategyGames">
                    <div class="fadedbox">
                        <div class="title text">StrategyGames APP</div>
                    </div>
              </a>
          </div>

    </section>

    <section class="beating-heart" id="about">
        <div class="wrapper">
            <h2 class="sub-title">About Us</h2>
            <p>We're creating software designed to help hobbyists keep track of their collections of items <br/>
                as well as interact with APIs and use DataScraping to get up to date information on things <br/>
                related to those collections and hobbies. This project is built using Python, Django, SQLite,
                and HTML/CSS.</p>
            <span>We</span>
            <svg class="heart" viewBox="0 0 50 50">
                <path style="fill:red;" d="M24.85,10.126c2.018-4.783,6.628-8.125,11.99-8.125c7.223,0,12.425,6.179,13.079,13.543
                	c0,0,0.353,1.828-0.424,5.119c-1.058,4.482-3.545,8.464-6.898,11.503L24.85,48L7.402,32.165c-3.353-3.038-5.84-7.021-6.898-11.503
                	c-0.777-3.291-0.424-5.119-0.424-5.119C0.734,8.179,5.936,2,13.159,2C18.522,2,22.832,5.343,24.85,10.126z"/>
            </svg>
            <span>Python</span>
        </div>
    </section>
{% endblock %}

