
@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>

<ul>
    <li>1245: Rear End Collision</li>
    <li>1301: Parking Lot Accident </li>
    <li>1380: Bodily Injury Liability</li>
    <li>1444: Collision</li>
    <li>1880: Uninshured/Underinshured Motorist Coverage</li>
</ul>

