@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    57 E 1200 N<br />
    Orem, UT 84057<br />
    <abbr title="Phone">P:</abbr>
    801.420.3717
</address>

<address>
    <strong>Support:</strong>   <a >carlosramir991@gmail.com</a><br />
</address>