@{
    ViewBag.Title = "Safe Trip Insurance";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Safe Trip Insurance will help you and your family stay insured at all times. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Begin by creating an account!
        </p>
        <p><a class="btn btn-default" href="/Insuree">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Take a look at the Claims page</h2>
        <p>Make sure to take a look at which claim number to use!</p>
        <p><a class="btn btn-default" href="Claims">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About our company</h2>
        <p>Learn more about Safe Trip Insurance!</p>
        <p><a class="btn btn-default" href="About">Learn more &raquo;</a></p>
    </div>
</div>